@model PAWS_ProyectoFinal.Models.Usuario

<div class="row">
    <div class="col-md-8 mb-4 ">
        <div class="card mb-4 contenedor">
            <div class="card-header py-3">
                <h2 class="mb-0" style="text-align:center">Añadir <b>Producto</b></h2>
            </div>
            <div class="card-body">


                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Nombre" class="control-label"></label>
                        <output class="form-control"> @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellidos)</output>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Correo" class="control-label"></label>
                        <output class="form-control">@Html.DisplayFor(model => model.Correo)</output>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Telefono" class="control-label"></label>
                        <output class="form-control">@Html.DisplayFor(model => model.Telefono)</output>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Roll.NombreRoll" class="control-label"></label>
                        <output class="form-control"> @Html.DisplayFor(model => model.Roll.NombreRoll)</output>
                    </div>
                </div>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />                        
                    </form>
                </div>
                <a asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>
</div>
