@model IEnumerable<PAWS_ProyectoFinal.Models.Usuario>


<div class="container">
    <div class="table-responsive ">       

            <table class="table  table-dark">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 10%">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellidos)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contrasena)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UltimaConexion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EstadoUsuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Roll.NombreRoll)
                        </th>

                        <th style="width: 20%"></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellidos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contrasena)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UltimaConexion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstadoUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Roll.NombreRoll)
                            </td>
                            <td>
                            <div style="text-align:center">
                               <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>                                
                                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                            </div>
                                   
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
   
</div>


