@model IEnumerable<PAWS_ProyectoFinal.Models.Usuario>

  

<div class="container-xl ">
    <div class="table-responsive ">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Usuarios</h2>
                    </div>
                    <div class="col-sm-6">
                        <a asp-action="CreateAdmin" class="btn btn-success"><span class="material-symbols-outlined">add_circle</span><span>Usuario</span></a>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover display" id="myTable">
                <thead>
                    <tr>
                        <th style="width:auto">@Html.DisplayNameFor(model => model.Nombre)</th>                       
                        <th>@Html.DisplayNameFor(model => model.Correo)</th>
                        <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                        <th>@Html.DisplayNameFor(model => model.EstadoUsuario)</th>
                        <th>@Html.DisplayNameFor(model => model.Roll.NombreRoll)</th>
                        <th > Funciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.Apellidos)</td>                          
                            <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                            <td>@Html.DisplayFor(modelItem => item.EstadoUsuario)</td>
                            <td>@Html.DisplayFor(modelItem => item.Roll.NombreRoll)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="edit"><span class="material-symbols-outlined">edit</span></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="details"><span class="material-symbols-outlined">visibility</span></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="delete"><span class="material-symbols-outlined">delete</span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>


