@model IEnumerable<PAWS_ProyectoFinal.Models.Producto>

@{
	ViewData["Title"] = "Home Page";
}


<section id="portfolio" class="portfolio">

	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Sección de Productos</h2>
			<h3>Los mejores productos en <span>Felectro</span></h3>
		</div>

		<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
			@foreach (var item in Model)
			{
				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
					<img src="data:image/jpg; base64, @item.ImagenProducto" class="img-fluid" alt="">
					<div class="portfolio-info">
						<h4>@item.NombreProducto</h4>
						<p>@item.DescripcionProducto</p>
						<p>₡ @item.PrecioProducto</p>
						<p><a class="cart" asp-controller="Carrito" asp-action="Agregar" asp-route-id="@item.Id"><span class="material-symbols-outlined">shopping_cart</span></a></p>
					</div>
				</div>
			}
		</div>
	</div>
</section>