@model IEnumerable<PAWS_ProyectoFinal.Models.Venta>

@functions
{
    string formato(string number)
    {
        char coma = ',';
        int control = 0;
        string salida = "";
        for (int i = number.Length - 1; i >= 0; i--)
        {
            control = control + 1;
            if (control == 3)
            {
                if (number[i] == coma || i == 0)
                {
                    salida += number[i];
                    control = 0;
                }
                else
                {
                    salida += number[i];
                    salida += ".";
                    control = 0;
                }
            }
            else
            {
                salida += number[i];
            }
        }
        string salidaFinal = "";
        for (int i = salida.Length - 1; i >= 0; i--)
        {
            salidaFinal += salida[i];
        }
        return salidaFinal;
    }

    string fechaConvertida(DateTime fecha)
    {
        string fechaRet = fecha.ToString("dd/MM/yyyy");
        return fechaRet;
    }

}


<div class="container-xl">
    <div class="table-responsive ">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Para entrega</h2>
                    </div>
                    <div class="col-sm-6">
                        
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover display" id="myTable">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TipoPago)</th>
                        <th>@Html.DisplayNameFor(model => model.ClienteId)</th>
                        <th style="width:auto">@Html.DisplayNameFor(model => model.NombreCliente)</th>
                        <th>@Html.DisplayNameFor(model => model.CorreoCliente)</th>
                        <th>@Html.DisplayNameFor(model => model.MontoPago)</th>
                        <th>@Html.DisplayNameFor(model => model.FechaRegistro)</th>
                        <th>@Html.DisplayNameFor(model => model.StatusPedido)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TipoPago)</td>
                            <td>@Html.DisplayFor(modelItem => item.ClienteId)</td>
                            <td>@Html.DisplayFor(modelItem => item.NombreCliente)</td>
                            <td>@Html.DisplayFor(modelItem => item.CorreoCliente)</td>
                            <td>¢@formato( item.MontoPago.ToString())</td>
                            <td>@fechaConvertida( item.FechaRegistro)</td>
                            <td>@Html.DisplayFor(modelItem => item.StatusPedido)</td>
                            <td>
                                <a class="btn btn-buy" asp-action="Entrega" asp-route-id="@item.Id">Entrega</a>
                                <a class="btn btn-buy" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



